:root {
  --text-opacity: 1;
  --bg-opacity: 1;
  --border-opacity: 1;
  --gradient-from: transparent;
  --gradient-to: transparent;
  --gradient-stops: null;
  --placeholder-opacity: 1;
  --ring-inset: null;
  --ring-offset-width: 1;
  --ring-color: transparent;
  --ring-offset-color: white;
  --ring-color: transparent;
  --ring-opacity: 1;
  --translate-x: 0;
  --translate-y: 0;
  --rotate: 0;
  --skew-x: 0;
  --skew-y: 0;
  --scale-x: 1;
  --scale-y: 1;
  --space-x-reverse: null;
  --space-y-reverse: null;
  --divide-opacity: 1;
}

.placeholder-black {
  color: rgba(0, 0, 0, var(--placeholder-opacity));
}

.placeholder-white {
  color: rgba(255, 255, 255, var(--placeholder-opacity));
}

.placeholder-transparent {
  color: transparent;
}

.placeholder-current {
  color: currentColor;
}

.placeholder-gray-50 {
  color: rgba(250, 250, 250, var(--placeholder-opacity));
}

.placeholder-gray-100 {
  color: rgba(244, 244, 245, var(--placeholder-opacity));
}

.placeholder-gray-200 {
  color: rgba(228, 228, 231, var(--placeholder-opacity));
}

.placeholder-gray-300 {
  color: rgba(212, 212, 216, var(--placeholder-opacity));
}

.placeholder-gray-400 {
  color: rgba(161, 161, 170, var(--placeholder-opacity));
}

.placeholder-gray-500 {
  color: rgba(113, 113, 122, var(--placeholder-opacity));
}

.placeholder-gray-600 {
  color: rgba(82, 82, 91, var(--placeholder-opacity));
}

.placeholder-gray-700 {
  color: rgba(63, 63, 70, var(--placeholder-opacity));
}

.placeholder-gray-800 {
  color: rgba(39, 39, 42, var(--placeholder-opacity));
}

.placeholder-gray-900 {
  color: rgba(24, 24, 27, var(--placeholder-opacity));
}

.placeholder-blue-gray-50 {
  color: rgba(248, 250, 252, var(--placeholder-opacity));
}

.placeholder-blue-gray-100 {
  color: rgba(241, 245, 249, var(--placeholder-opacity));
}

.placeholder-blue-gray-200 {
  color: rgba(226, 232, 240, var(--placeholder-opacity));
}

.placeholder-blue-gray-300 {
  color: rgba(203, 213, 225, var(--placeholder-opacity));
}

.placeholder-blue-gray-400 {
  color: rgba(148, 163, 184, var(--placeholder-opacity));
}

.placeholder-blue-gray-500 {
  color: rgba(100, 116, 139, var(--placeholder-opacity));
}

.placeholder-blue-gray-600 {
  color: rgba(71, 85, 105, var(--placeholder-opacity));
}

.placeholder-blue-gray-700 {
  color: rgba(51, 65, 85, var(--placeholder-opacity));
}

.placeholder-blue-gray-800 {
  color: rgba(30, 41, 59, var(--placeholder-opacity));
}

.placeholder-blue-gray-900 {
  color: rgba(15, 23, 42, var(--placeholder-opacity));
}

.placeholder-cool-gray-50 {
  color: rgba(249, 250, 251, var(--placeholder-opacity));
}

.placeholder-cool-gray-100 {
  color: rgba(243, 244, 246, var(--placeholder-opacity));
}

.placeholder-cool-gray-200 {
  color: rgba(229, 231, 235, var(--placeholder-opacity));
}

.placeholder-cool-gray-300 {
  color: rgba(209, 213, 219, var(--placeholder-opacity));
}

.placeholder-cool-gray-400 {
  color: rgba(156, 163, 175, var(--placeholder-opacity));
}

.placeholder-cool-gray-500 {
  color: rgba(107, 114, 128, var(--placeholder-opacity));
}

.placeholder-cool-gray-600 {
  color: rgba(75, 85, 99, var(--placeholder-opacity));
}

.placeholder-cool-gray-700 {
  color: rgba(55, 65, 81, var(--placeholder-opacity));
}

.placeholder-cool-gray-800 {
  color: rgba(31, 41, 55, var(--placeholder-opacity));
}

.placeholder-cool-gray-900 {
  color: rgba(17, 24, 39, var(--placeholder-opacity));
}

.placeholder-true-gray-50 {
  color: rgba(250, 250, 250, var(--placeholder-opacity));
}

.placeholder-true-gray-100 {
  color: rgba(245, 245, 245, var(--placeholder-opacity));
}

.placeholder-true-gray-200 {
  color: rgba(229, 229, 229, var(--placeholder-opacity));
}

.placeholder-true-gray-300 {
  color: rgba(212, 212, 212, var(--placeholder-opacity));
}

.placeholder-true-gray-400 {
  color: rgba(163, 163, 163, var(--placeholder-opacity));
}

.placeholder-true-gray-500 {
  color: rgba(115, 115, 115, var(--placeholder-opacity));
}

.placeholder-true-gray-600 {
  color: rgba(82, 82, 82, var(--placeholder-opacity));
}

.placeholder-true-gray-700 {
  color: rgba(64, 64, 64, var(--placeholder-opacity));
}

.placeholder-true-gray-800 {
  color: rgba(38, 38, 38, var(--placeholder-opacity));
}

.placeholder-true-gray-900 {
  color: rgba(23, 23, 23, var(--placeholder-opacity));
}

.placeholder-warm-gray-50 {
  color: rgba(250, 250, 249, var(--placeholder-opacity));
}

.placeholder-warm-gray-100 {
  color: rgba(245, 245, 244, var(--placeholder-opacity));
}

.placeholder-warm-gray-200 {
  color: rgba(231, 229, 228, var(--placeholder-opacity));
}

.placeholder-warm-gray-300 {
  color: rgba(214, 211, 209, var(--placeholder-opacity));
}

.placeholder-warm-gray-400 {
  color: rgba(168, 162, 158, var(--placeholder-opacity));
}

.placeholder-warm-gray-500 {
  color: rgba(120, 113, 108, var(--placeholder-opacity));
}

.placeholder-warm-gray-600 {
  color: rgba(87, 83, 78, var(--placeholder-opacity));
}

.placeholder-warm-gray-700 {
  color: rgba(68, 64, 60, var(--placeholder-opacity));
}

.placeholder-warm-gray-800 {
  color: rgba(41, 37, 36, var(--placeholder-opacity));
}

.placeholder-warm-gray-900 {
  color: rgba(28, 25, 23, var(--placeholder-opacity));
}

.placeholder-red-50 {
  color: rgba(254, 242, 242, var(--placeholder-opacity));
}

.placeholder-red-100 {
  color: rgba(254, 226, 226, var(--placeholder-opacity));
}

.placeholder-red-200 {
  color: rgba(254, 202, 202, var(--placeholder-opacity));
}

.placeholder-red-300 {
  color: rgba(252, 165, 165, var(--placeholder-opacity));
}

.placeholder-red-400 {
  color: rgba(248, 113, 113, var(--placeholder-opacity));
}

.placeholder-red-500 {
  color: rgba(239, 68, 68, var(--placeholder-opacity));
}

.placeholder-red-600 {
  color: rgba(220, 38, 38, var(--placeholder-opacity));
}

.placeholder-red-700 {
  color: rgba(185, 28, 28, var(--placeholder-opacity));
}

.placeholder-red-800 {
  color: rgba(153, 27, 27, var(--placeholder-opacity));
}

.placeholder-red-900 {
  color: rgba(127, 29, 29, var(--placeholder-opacity));
}

.placeholder-orange-50 {
  color: rgba(255, 247, 237, var(--placeholder-opacity));
}

.placeholder-orange-100 {
  color: rgba(255, 237, 213, var(--placeholder-opacity));
}

.placeholder-orange-200 {
  color: rgba(254, 215, 170, var(--placeholder-opacity));
}

.placeholder-orange-300 {
  color: rgba(253, 186, 116, var(--placeholder-opacity));
}

.placeholder-orange-400 {
  color: rgba(251, 146, 60, var(--placeholder-opacity));
}

.placeholder-orange-500 {
  color: rgba(249, 115, 22, var(--placeholder-opacity));
}

.placeholder-orange-600 {
  color: rgba(234, 88, 12, var(--placeholder-opacity));
}

.placeholder-orange-700 {
  color: rgba(194, 65, 12, var(--placeholder-opacity));
}

.placeholder-orange-800 {
  color: rgba(154, 52, 18, var(--placeholder-opacity));
}

.placeholder-orange-900 {
  color: rgba(124, 45, 18, var(--placeholder-opacity));
}

.placeholder-amber-50 {
  color: rgba(255, 251, 235, var(--placeholder-opacity));
}

.placeholder-amber-100 {
  color: rgba(254, 243, 199, var(--placeholder-opacity));
}

.placeholder-amber-200 {
  color: rgba(253, 230, 138, var(--placeholder-opacity));
}

.placeholder-amber-300 {
  color: rgba(252, 211, 77, var(--placeholder-opacity));
}

.placeholder-amber-400 {
  color: rgba(251, 191, 36, var(--placeholder-opacity));
}

.placeholder-amber-500 {
  color: rgba(245, 158, 11, var(--placeholder-opacity));
}

.placeholder-amber-600 {
  color: rgba(217, 119, 6, var(--placeholder-opacity));
}

.placeholder-amber-700 {
  color: rgba(180, 83, 9, var(--placeholder-opacity));
}

.placeholder-amber-800 {
  color: rgba(146, 64, 14, var(--placeholder-opacity));
}

.placeholder-amber-900 {
  color: rgba(120, 53, 15, var(--placeholder-opacity));
}

.placeholder-yellow-50 {
  color: rgba(254, 252, 232, var(--placeholder-opacity));
}

.placeholder-yellow-100 {
  color: rgba(254, 249, 195, var(--placeholder-opacity));
}

.placeholder-yellow-200 {
  color: rgba(254, 240, 138, var(--placeholder-opacity));
}

.placeholder-yellow-300 {
  color: rgba(253, 224, 71, var(--placeholder-opacity));
}

.placeholder-yellow-400 {
  color: rgba(250, 204, 21, var(--placeholder-opacity));
}

.placeholder-yellow-500 {
  color: rgba(234, 179, 8, var(--placeholder-opacity));
}

.placeholder-yellow-600 {
  color: rgba(202, 138, 4, var(--placeholder-opacity));
}

.placeholder-yellow-700 {
  color: rgba(161, 98, 7, var(--placeholder-opacity));
}

.placeholder-yellow-800 {
  color: rgba(133, 77, 14, var(--placeholder-opacity));
}

.placeholder-yellow-900 {
  color: rgba(113, 63, 18, var(--placeholder-opacity));
}

.placeholder-lime-50 {
  color: rgba(247, 254, 231, var(--placeholder-opacity));
}

.placeholder-lime-100 {
  color: rgba(236, 252, 203, var(--placeholder-opacity));
}

.placeholder-lime-200 {
  color: rgba(217, 249, 157, var(--placeholder-opacity));
}

.placeholder-lime-300 {
  color: rgba(190, 242, 100, var(--placeholder-opacity));
}

.placeholder-lime-400 {
  color: rgba(163, 230, 53, var(--placeholder-opacity));
}

.placeholder-lime-500 {
  color: rgba(132, 204, 22, var(--placeholder-opacity));
}

.placeholder-lime-600 {
  color: rgba(101, 163, 13, var(--placeholder-opacity));
}

.placeholder-lime-700 {
  color: rgba(77, 124, 15, var(--placeholder-opacity));
}

.placeholder-lime-800 {
  color: rgba(63, 98, 18, var(--placeholder-opacity));
}

.placeholder-lime-900 {
  color: rgba(54, 83, 20, var(--placeholder-opacity));
}

.placeholder-green-50 {
  color: rgba(240, 253, 244, var(--placeholder-opacity));
}

.placeholder-green-100 {
  color: rgba(220, 252, 231, var(--placeholder-opacity));
}

.placeholder-green-200 {
  color: rgba(187, 247, 208, var(--placeholder-opacity));
}

.placeholder-green-300 {
  color: rgba(134, 239, 172, var(--placeholder-opacity));
}

.placeholder-green-400 {
  color: rgba(74, 222, 128, var(--placeholder-opacity));
}

.placeholder-green-500 {
  color: rgba(34, 197, 94, var(--placeholder-opacity));
}

.placeholder-green-600 {
  color: rgba(22, 163, 74, var(--placeholder-opacity));
}

.placeholder-green-700 {
  color: rgba(21, 128, 61, var(--placeholder-opacity));
}

.placeholder-green-800 {
  color: rgba(22, 101, 52, var(--placeholder-opacity));
}

.placeholder-green-900 {
  color: rgba(20, 83, 45, var(--placeholder-opacity));
}

.placeholder-emerald-50 {
  color: rgba(236, 253, 245, var(--placeholder-opacity));
}

.placeholder-emerald-100 {
  color: rgba(209, 250, 229, var(--placeholder-opacity));
}

.placeholder-emerald-200 {
  color: rgba(167, 243, 208, var(--placeholder-opacity));
}

.placeholder-emerald-300 {
  color: rgba(110, 231, 183, var(--placeholder-opacity));
}

.placeholder-emerald-400 {
  color: rgba(52, 211, 153, var(--placeholder-opacity));
}

.placeholder-emerald-500 {
  color: rgba(16, 185, 129, var(--placeholder-opacity));
}

.placeholder-emerald-600 {
  color: rgba(5, 150, 105, var(--placeholder-opacity));
}

.placeholder-emerald-700 {
  color: rgba(4, 120, 87, var(--placeholder-opacity));
}

.placeholder-emerald-800 {
  color: rgba(6, 95, 70, var(--placeholder-opacity));
}

.placeholder-emerald-900 {
  color: rgba(6, 78, 59, var(--placeholder-opacity));
}

.placeholder-teal-50 {
  color: rgba(240, 253, 250, var(--placeholder-opacity));
}

.placeholder-teal-100 {
  color: rgba(204, 251, 241, var(--placeholder-opacity));
}

.placeholder-teal-200 {
  color: rgba(153, 246, 228, var(--placeholder-opacity));
}

.placeholder-teal-300 {
  color: rgba(94, 234, 212, var(--placeholder-opacity));
}

.placeholder-teal-400 {
  color: rgba(45, 212, 191, var(--placeholder-opacity));
}

.placeholder-teal-500 {
  color: rgba(20, 184, 166, var(--placeholder-opacity));
}

.placeholder-teal-600 {
  color: rgba(13, 148, 136, var(--placeholder-opacity));
}

.placeholder-teal-700 {
  color: rgba(15, 118, 110, var(--placeholder-opacity));
}

.placeholder-teal-800 {
  color: rgba(17, 94, 89, var(--placeholder-opacity));
}

.placeholder-teal-900 {
  color: rgba(19, 78, 74, var(--placeholder-opacity));
}

.placeholder-cyan-50 {
  color: rgba(236, 254, 255, var(--placeholder-opacity));
}

.placeholder-cyan-100 {
  color: rgba(207, 250, 254, var(--placeholder-opacity));
}

.placeholder-cyan-200 {
  color: rgba(165, 243, 252, var(--placeholder-opacity));
}

.placeholder-cyan-300 {
  color: rgba(103, 232, 249, var(--placeholder-opacity));
}

.placeholder-cyan-400 {
  color: rgba(34, 211, 238, var(--placeholder-opacity));
}

.placeholder-cyan-500 {
  color: rgba(6, 182, 212, var(--placeholder-opacity));
}

.placeholder-cyan-600 {
  color: rgba(8, 145, 178, var(--placeholder-opacity));
}

.placeholder-cyan-700 {
  color: rgba(14, 116, 144, var(--placeholder-opacity));
}

.placeholder-cyan-800 {
  color: rgba(21, 94, 117, var(--placeholder-opacity));
}

.placeholder-cyan-900 {
  color: rgba(22, 78, 99, var(--placeholder-opacity));
}

.placeholder-light-blue-50 {
  color: rgba(240, 249, 255, var(--placeholder-opacity));
}

.placeholder-light-blue-100 {
  color: rgba(224, 242, 254, var(--placeholder-opacity));
}

.placeholder-light-blue-200 {
  color: rgba(186, 230, 253, var(--placeholder-opacity));
}

.placeholder-light-blue-300 {
  color: rgba(125, 211, 252, var(--placeholder-opacity));
}

.placeholder-light-blue-400 {
  color: rgba(56, 189, 248, var(--placeholder-opacity));
}

.placeholder-light-blue-500 {
  color: rgba(14, 165, 233, var(--placeholder-opacity));
}

.placeholder-light-blue-600 {
  color: rgba(2, 132, 199, var(--placeholder-opacity));
}

.placeholder-light-blue-700 {
  color: rgba(3, 105, 161, var(--placeholder-opacity));
}

.placeholder-light-blue-800 {
  color: rgba(7, 89, 133, var(--placeholder-opacity));
}

.placeholder-light-blue-900 {
  color: rgba(12, 74, 110, var(--placeholder-opacity));
}

.placeholder-blue-50 {
  color: rgba(239, 246, 255, var(--placeholder-opacity));
}

.placeholder-blue-100 {
  color: rgba(219, 234, 254, var(--placeholder-opacity));
}

.placeholder-blue-200 {
  color: rgba(191, 219, 254, var(--placeholder-opacity));
}

.placeholder-blue-300 {
  color: rgba(147, 197, 253, var(--placeholder-opacity));
}

.placeholder-blue-400 {
  color: rgba(96, 165, 250, var(--placeholder-opacity));
}

.placeholder-blue-500 {
  color: rgba(59, 130, 246, var(--placeholder-opacity));
}

.placeholder-blue-600 {
  color: rgba(37, 99, 235, var(--placeholder-opacity));
}

.placeholder-blue-700 {
  color: rgba(29, 78, 216, var(--placeholder-opacity));
}

.placeholder-blue-800 {
  color: rgba(30, 64, 175, var(--placeholder-opacity));
}

.placeholder-blue-900 {
  color: rgba(30, 58, 138, var(--placeholder-opacity));
}

.placeholder-indigo-50 {
  color: rgba(238, 242, 255, var(--placeholder-opacity));
}

.placeholder-indigo-100 {
  color: rgba(224, 231, 255, var(--placeholder-opacity));
}

.placeholder-indigo-200 {
  color: rgba(199, 210, 254, var(--placeholder-opacity));
}

.placeholder-indigo-300 {
  color: rgba(165, 180, 252, var(--placeholder-opacity));
}

.placeholder-indigo-400 {
  color: rgba(129, 140, 248, var(--placeholder-opacity));
}

.placeholder-indigo-500 {
  color: rgba(99, 102, 241, var(--placeholder-opacity));
}

.placeholder-indigo-600 {
  color: rgba(79, 70, 229, var(--placeholder-opacity));
}

.placeholder-indigo-700 {
  color: rgba(67, 56, 202, var(--placeholder-opacity));
}

.placeholder-indigo-800 {
  color: rgba(55, 48, 163, var(--placeholder-opacity));
}

.placeholder-indigo-900 {
  color: rgba(49, 46, 129, var(--placeholder-opacity));
}

.placeholder-violet-50 {
  color: rgba(245, 243, 255, var(--placeholder-opacity));
}

.placeholder-violet-100 {
  color: rgba(237, 233, 254, var(--placeholder-opacity));
}

.placeholder-violet-200 {
  color: rgba(221, 214, 254, var(--placeholder-opacity));
}

.placeholder-violet-300 {
  color: rgba(196, 181, 253, var(--placeholder-opacity));
}

.placeholder-violet-400 {
  color: rgba(167, 139, 250, var(--placeholder-opacity));
}

.placeholder-violet-500 {
  color: rgba(139, 92, 246, var(--placeholder-opacity));
}

.placeholder-violet-600 {
  color: rgba(124, 58, 237, var(--placeholder-opacity));
}

.placeholder-violet-700 {
  color: rgba(109, 40, 217, var(--placeholder-opacity));
}

.placeholder-violet-800 {
  color: rgba(91, 33, 182, var(--placeholder-opacity));
}

.placeholder-violet-900 {
  color: rgba(76, 29, 149, var(--placeholder-opacity));
}

.placeholder-purple-50 {
  color: rgba(250, 245, 255, var(--placeholder-opacity));
}

.placeholder-purple-100 {
  color: rgba(243, 232, 255, var(--placeholder-opacity));
}

.placeholder-purple-200 {
  color: rgba(233, 213, 255, var(--placeholder-opacity));
}

.placeholder-purple-300 {
  color: rgba(216, 180, 254, var(--placeholder-opacity));
}

.placeholder-purple-400 {
  color: rgba(192, 132, 252, var(--placeholder-opacity));
}

.placeholder-purple-500 {
  color: rgba(168, 85, 247, var(--placeholder-opacity));
}

.placeholder-purple-600 {
  color: rgba(147, 51, 234, var(--placeholder-opacity));
}

.placeholder-purple-700 {
  color: rgba(126, 34, 206, var(--placeholder-opacity));
}

.placeholder-purple-800 {
  color: rgba(107, 33, 168, var(--placeholder-opacity));
}

.placeholder-purple-900 {
  color: rgba(88, 28, 135, var(--placeholder-opacity));
}

.placeholder-fuchsia-50 {
  color: rgba(253, 244, 255, var(--placeholder-opacity));
}

.placeholder-fuchsia-100 {
  color: rgba(250, 232, 255, var(--placeholder-opacity));
}

.placeholder-fuchsia-200 {
  color: rgba(245, 208, 254, var(--placeholder-opacity));
}

.placeholder-fuchsia-300 {
  color: rgba(240, 171, 252, var(--placeholder-opacity));
}

.placeholder-fuchsia-400 {
  color: rgba(232, 121, 249, var(--placeholder-opacity));
}

.placeholder-fuchsia-500 {
  color: rgba(217, 70, 239, var(--placeholder-opacity));
}

.placeholder-fuchsia-600 {
  color: rgba(192, 38, 211, var(--placeholder-opacity));
}

.placeholder-fuchsia-700 {
  color: rgba(162, 28, 175, var(--placeholder-opacity));
}

.placeholder-fuchsia-800 {
  color: rgba(134, 25, 143, var(--placeholder-opacity));
}

.placeholder-fuchsia-900 {
  color: rgba(112, 26, 117, var(--placeholder-opacity));
}

.placeholder-pink-50 {
  color: rgba(253, 242, 248, var(--placeholder-opacity));
}

.placeholder-pink-100 {
  color: rgba(252, 231, 243, var(--placeholder-opacity));
}

.placeholder-pink-200 {
  color: rgba(251, 207, 232, var(--placeholder-opacity));
}

.placeholder-pink-300 {
  color: rgba(249, 168, 212, var(--placeholder-opacity));
}

.placeholder-pink-400 {
  color: rgba(244, 114, 182, var(--placeholder-opacity));
}

.placeholder-pink-500 {
  color: rgba(236, 72, 153, var(--placeholder-opacity));
}

.placeholder-pink-600 {
  color: rgba(219, 39, 119, var(--placeholder-opacity));
}

.placeholder-pink-700 {
  color: rgba(190, 24, 93, var(--placeholder-opacity));
}

.placeholder-pink-800 {
  color: rgba(157, 23, 77, var(--placeholder-opacity));
}

.placeholder-pink-900 {
  color: rgba(131, 24, 67, var(--placeholder-opacity));
}

.placeholder-rose-50 {
  color: rgba(255, 241, 242, var(--placeholder-opacity));
}

.placeholder-rose-100 {
  color: rgba(255, 228, 230, var(--placeholder-opacity));
}

.placeholder-rose-200 {
  color: rgba(254, 205, 211, var(--placeholder-opacity));
}

.placeholder-rose-300 {
  color: rgba(253, 164, 175, var(--placeholder-opacity));
}

.placeholder-rose-400 {
  color: rgba(251, 113, 133, var(--placeholder-opacity));
}

.placeholder-rose-500 {
  color: rgba(244, 63, 94, var(--placeholder-opacity));
}

.placeholder-rose-600 {
  color: rgba(225, 29, 72, var(--placeholder-opacity));
}

.placeholder-rose-700 {
  color: rgba(190, 18, 60, var(--placeholder-opacity));
}

.placeholder-rose-800 {
  color: rgba(159, 18, 57, var(--placeholder-opacity));
}

.placeholder-rose-900 {
  color: rgba(136, 19, 55, var(--placeholder-opacity));
}
