@use "sass:map"
@use "./type-check" as *


@function to-rgba($color, $opacity)



  @if type-of($color) == color
    //^ example of intered $color variable value: gray, #FFF.

    @if $color == transparent or $color == currentColor
      //^ Ignore those from converting to RGBA because it does not make sense.
      @return $color

    @return rgba($color, $opacity)



  @else if type-of($color) == map
    //^ example of intered $color variable value: (white: #FFF) and (white: (000: #FFF)).

    $return: ()
    
    @each $k, $v in $color

      @if is-map($v)
        //^ example of intered $color variable value: (white: (000: #FFF)).

        @each $vk, $vv in $v

          // This is for the default value. example: (white: ("": #FFF, 100: #FCFCFC)) -(result)> .white:white and .white-100:#FCFCFC.
          $seperator: if($vk != "", "-", "")

          @if $v == transparent or $v == currentColor
            $return: map.deep-merge((#{$k}#{$seperator}#{$vk}: $vv), $return)
          @else
            $return: map.deep-merge((#{$k}#{$seperator}#{$vk}: rgba($vv, $opacity)), $return)


      @else if is-list($v) or is-bool($v)
        @error "UnExpected Type"


      @else
        //^ example of intered $color variable value: (white: #FFF).

        @if $v == transparent or $v == currentColor
          $return: map.deep-merge(($k: $v), $return)
        @else
          $return: map.deep-merge(($k: rgba($v, $opacity)), $return)

    
    @return $return



  @else 
    @error "UnExpected Type"