@use "sass:map";
@use "../modules/to-rgba" as *;

$dimensioncss: map.deep-merge((utilities: (
  border-color: (
    class: (
      border: border-color,
      border-t: border-top-color,
      border-r: border-right-color,
      border-b: border-bottom-color,
      border-l: border-left-color,
    ),
    value: to-rgba(map.get($dimensioncss, theme, colors), var(--border-opacity)),
    variant: group-hover focus-within hover focus dark,
  ),
)), $dimensioncss);