@use "sass:map";

$dimensioncss: map.deep-merge((utilities: (

  // Align Items
  align-items: (
    class: ai,
    value: (
      start: flex-start,
      end: flex-end
    ) center baseline stretch,
    variant: responsive,
  ),

  // Justify Content and Align Content
  justify-content-align-content: (
    class: (
      jc: justify-content,
      ac: align-content
    ),
    value: (
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
      evenly: space-evenly,
    ),
    variant: responsive,
  ),

  // Align Self
  align-self: (
    class: as,
    value: auto (
      start: flex-start,
      end: flex-end
    ) center stretch,
    variant: responsive,
  ),

  // Justify Items and Justify Self
  justify-items-justify-self: (
    class: (
      ji: justify-items,
      js: justify-self
    ),
    value: auto start end center stretch,
    variant: responsive,
  ),

  // Place Content
  place-content: (
    class: pc,
    value: center start end (
      between: space-between,
      around: space-around,
      evenly: space-evenly,
    ) stretch,
    variant: responsive,
  ),

  // Place Items and Place Self
  place-items-place-self: (
    class: (
      pi: place-items,
      ps: place-self,
    ),
    value: auto start end center stretch,
    variant: responsive,
  ),

)), $dimensioncss);