@use "sass:map";

$dimensioncss: map.deep-merge((utilities: (
  grid-auto-columns: (
    class: auto-cols,
    value: auto (
      min: min-content,
      max: max-content,
      fr: minmax(0, 1fr)
    ),
    variant: responsive,
  ),
)), $dimensioncss);