@use "sass:map";

$dimensioncss: map.deep-merge((utilities: (
  object-position: (
    class: object,
    value: top right bottom left center (
      left-bottom: "left bottom",
      left-top: "left top",
      right-bottom: "right bottom",
      right-top: "right top",
    ),
    variant: responsive,
  ),
)), $dimensioncss);