@use "sass:map";
@use "../modules/to-rgba" as *;

$dimensioncss: map.deep-merge((utilities: (
  placeholder-color: (
    class: (
      placeholder: color,
    ),
    value: to-rgba(map.get($dimensioncss, theme, colors), var(--placeholder-opacity)),
  ),
)), $dimensioncss);