@use "sass:map";
@use "../modules/to-rgba" as *;

$dimensioncss: map.deep-merge((utilities: (
  ring-color: (
    class: (ring: --ring-color),
    value: to-rgba(map.get($dimensioncss, theme, colors), var(--ring-opacity)),
  ),
)), $dimensioncss);