@use "sass:map";

$dimensioncss: map.deep-merge((variants: (
  animation: [responsive],
  background-attachment: [responsive],
  background-clip: [responsive],
  background-color: [first-child last-child first-type last-type odd even visited checked group-hover group-focus focus-within hover focus focus-visible active disabled],
  background-image: [responsive],
  background-opacity: [first-child last-child first-type last-type odd even visited checked group-hover group-focus focus-within hover focus focus-visible active disabled],
  background-position: [responsive],
  border-color: [group-hover focus-within hover focus dark],
  border-opacity: [first-child last-child first-type last-type odd even visited checked group-hover group-focus focus-within hover focus focus-visible active disabled],
  border-width: [responsive],
  align-items: [responsive],
  justify-content-align-content: [responsive],
  align-self: [responsive],
  justify-items-justify-self: [responsive],
  place-content: [responsive],
  place-items-place-self: [responsive],
  display: [responsive],
  divide-color: [dark],
  divide-opacity: [dark],
  divide-width: [responsive],
  flex-direction: [responsive],
  flex-grow: [responsive],
  flex-shrink: [responsive],
  flex-wrap: [responsive],
  flex: [responsive],
  float: [responsive],
  font-size: [responsive],
  font-weight: [responsive],
  gap: [responsive],
  grid-auto-columns: [responsive],
  grid-auto-flow: [responsive],
  grid-auto-rows: [responsive],
  grid-column-start-grid-column-end: [responsive],
  grid-column: [responsive],
  grid-row-start-grid-row-end: [responsive],
  grid-row: [responsive],
  grid-template-columns: [responsive],
  grid-template-rows: [responsive],
  height: [responsive],
  inset: [responsive],
  letter-spacing: [responsive],
  line-height: [responsive],
  margin: [responsive],
  max-height: [responsive],
  max-width: [responsive],
  min-height: [responsive],
  min-width: [responsive],
  object-fit: [responsive],
  object-position: [responsive],
  opacity: [group-hover focus-within hover focus],
  order: [responsive],
  overflow: [responsive],
  overscroll-behavior: [responsive],
  padding: [responsive],
  placeholder-color: [hover focus],
  placeholder-opacity: [responsive],
  position: [responsive],
  ring-color: [focus-within focus dark],
  ring-offset-color: [focus-within focus dark],
  ring-offset-width: [focus-within focus],
  ring-opacity: [focus-within focus dark],
  ring-width: [focus-within focus],
  rotate: [responsive hover focus],
  scale: [responsive hover focus],
  skew: [responsive hover focus],
  space-between: [responsive],
  text-align: [responsive],
  text-color: [first-child last-child first-type last-type odd even visited checked group-hover group-focus focus-within hover focus focus-visible active disabled],
  text-opacity: [first-child last-child first-type last-type odd even visited checked group-hover group-focus focus-within hover focus focus-visible active disabled],
  transform-origin: [responsive],
  transform: [responsive],
  transition-duration-transition-delay: [responsive],
  transition-property: [responsive],
  translate: [responsive hover focus],
  vertical-align: [responsive],
  width: [responsive],
  all: [responsive],
)), $dimensioncss);


