@use "sass:map";
@use "../initial.scss" as *;
@use "../modules/to-rgba" as *;

$dimensioncss: map.deep-merge((utilities: (
  divide-color: (
    class: (
      divide: (
        --divide-opacity: 1,
      ) border-color,
    ),
    value: to-rgba(map.get($dimensioncss, theme, colors), var(--divide-opacity)),
  ),
)), $dimensioncss);