@use "sass:map";
@use "../initial.scss" as *;

$dimensioncss: map.deep-merge((utilities: (
  font-variant-numeric: (
    class: "",
    value: (
      normal-nums: normal,
    ) ordinal slashed-zero lining-nums oldstyle-nums proportional-nums tabular-nums diagonal-fractions stacked-fractions,
  ),
)), $dimensioncss);