@use "sass:map";
@use "../initial.scss" as *;
@use "../modules/to-rgba" as *;

$dimensioncss: map.deep-merge((utilities: (
  text-color: (
    class: (
      text: (
        --text-opacity: 1,
      ) color,
    ),
    value: to-rgba(map.get($dimensioncss, theme, colors), var(--text-opacity)),
  ),
)), $dimensioncss);