@use "sass:map";
@use "../initial.scss" as *;

$dimensioncss: map.deep-merge((utilities: (
  align-self: (
    class: as,
    value: auto (
      start: flex-start,
      end: flex-end
    ) center stretch,
  ),
)), $dimensioncss);