@use "sass:map";
@use "../initial.scss" as *;

$dimensioncss: map.deep-merge((utilities: (
  grid-auto-rows: (
    class: auto-rows,
    value: auto (
      min: min-content,
      max: max-content,
      fr: minmax(0, 1fr)
    ),
  ),
)), $dimensioncss);