@use "sass:map";
@use "../initial.scss" as *;

$dimensioncss: map.deep-merge((utilities: (
  resize: (
    class: (
      resize: (resize: both),
      resize-x: (resize: horizontal),
      resize-y: (resize: vertical),
      resize-none: (resize: none),
    ),
  ),
)), $dimensioncss);