@use "sass:map";
@use "../initial.scss" as *;

$dimensioncss: map.deep-merge((utilities: (
  text-decoration: (
    class: "",
    value: underline line-through (no-underline: none)
  ),
)), $dimensioncss);