@use "sass:map"
@use "../modules/str-contain" as *
@use "../modules/str-replace" as *
@import "./variants-list"

$_important: if(map.get($dimensioncss, settings, important), "!important", "")
$_class-prefix: if( map.get($dimensioncss, settings, class-prefix) != "", map.get($dimensioncss, settings, class-prefix) + "-", "" )


@mixin new-class-property-and-value($property-and-value, $value)
  @each $property-key, $value-value in $property-and-value

    @if $value-value == VALUE
      $value-value: $value
    @else if str-contain($value-value, VALUE)
      $value-value: str-replace($value-value, VALUE, $value)

    #{$property-key}: #{$value-value} #{$_important}

  



@function selector-class($utility-name, $breakpoint-className, $class, $class-before: "", $class-after: "")
  
  @if $utility-name == space-between or $utility-name == divide-width
    @return #{$breakpoint-className}#{$_class-prefix}#{$class-before}#{$class}"> * + *"#{$class-after}
  @else
    @return #{$breakpoint-className}#{$_class-prefix}#{$class-before}#{$class}#{$class-after}


@mixin take-class-and-values($utility-name, $class, $value, $property-and-value, $breakpoint-className)
    
  .#{selector-class($utility-name, $breakpoint-className, $class)}
    @include new-class-property-and-value($property-and-value, $value)




@mixin take-class-and-values-2($utility-name, $class, $value, $property-and-value, $breakpoint-className, $util-variants)
  @each $__variant in $util-variants
    @each $__variant-key, $__variant-value in get-variant-before-and-after($__variant)
      .#{selector-class($utility-name, $breakpoint-className, $class, $__variant-key, $__variant-value)}
        @include new-class-property-and-value($property-and-value, $value)