:root
  
  --tw-text-opacity: 1
  
  --tw-bg-opacity: 1
  
  --tw-border-opacity: 1
  
  --tw-gradient-from: transparent
  --tw-gradient-to: transparent
  --tw-gradient-stops: null

  --tw-placeholder-opacity: 1
  
  --tw-ring-inset: null
  --tw-ring-offset-width: 1
  --tw-ring-color: transparent
  --tw-ring-offset-color: white
  --tw-ring-color: transparent
  --tw-ring-opacity: 1
  
  --tw-translate-x: 0
  --tw-translate-y: 0
  
  --tw-rotate: 0
  
  --tw-skew-x: 0
  --tw-skew-y: 0
  
  --tw-scale-x: 1
  --tw-scale-y: 1
  
  --tw-space-x-reverse: null
  --tw-space-y-reverse: null
  
  --tw-divide-opacity: 1