@use "sass:map";

$dimensioncss: map.deep-merge((utilities: (
  overflow: (
    class: overflow overflow-x overflow-y,
    value: auto hidden visible scroll,
    variant: responsive
  )
)), $dimensioncss);